* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
header, footer, section {
    width: 100%;
}
header {
    background: rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 32%, rgba(246, 246, 246, 1) 34%, rgba(246, 246, 246, 1) 38%, rgba(246, 246, 246, 1) 44%, rgba(201, 201, 201, 1) 100%, rgba(237, 237, 237, 1) 100%);
    background-size: contain;
    background-position: left;
    width: auto;
    height: 700px;
}
header .menu {
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
}
.nav-list {
    list-style: none;
    padding:0;
    margin:0;
}

.nav-list__item {
    display: inline-block;
    margin:0 20px;
    position: relative;
}

.nav-list__link {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
}
nav {
    text-align: right;
}
.logo {
    text-align: left;
    font-weight: bold;
    padding:0;
    margin:0;
}
.image_header {
    width: 50%;
    height: 550px;
    display: inline-block;
    margin-top: 0;
    background-image: url(../images/black_chair.png);
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.info_header {
    width: 35%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    margin-left: 70px;
}
.container {
    margin: auto;
    width: 80%;
    border: 1px solid red;
}
.info_header h1 {
    font-size: 41px;
    font-weight: normal;
    padding-bottom: 20px;
}
.info_header p {
    font-size: 19px;
    color: dimgrey;

}
.big_header {
    width: 90%;
    margin: 0 auto;
    padding-top: 80px;
}
.big_header:before{
    content: "<";
    width: auto;
    height: 100px;
    color: #27C6B1;
    font-size: 80px;
}
.big_header:after{
    content: ">";
    width: auto;
    height: 100px;
    color: #27C6B1;
    font-size: 80px;
}
button {
    width: 300px;
    height: 60px;
    border-radius: 10px;
    margin: 40px;
    background: #27C6B1;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
}
.box1 {
    width: 30%;
    height: 350px;
    background-image: url(../images/box1_img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
.box2 {
    width: 30%;
    height: 350px;
    background-image: url(../images/box2_img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
.box3 {
    width: 30%;
    height: 350px;
    display: inline-block;
    vertical-align: top;
}
.box1, .box2, .box3 {
    margin: 20px;
}